# Android related
[REMOVE THIS LINE] **/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
[REMOVE THIS LINE]**/android/gradlew
[REMOVE THIS LINE]**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java